body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #f0f2f5; 
}

/* Login Page Styling */
#login {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #161616;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}




.form-heading {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit {
  margin-top: 10px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #19191a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-social-link ul {
  list-style: none;
  padding: 0;
}

.new_left p a {
  color: #007bff;
  text-decoration: none;
}

.new_left p a:hover {
  text-decoration: underline;
}

/* Footer Styling */
.copy_layout {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
  text-align: center;
}

.copy_layout a {
  color: #007bff;
  text-decoration: none;
}

.copy_layout a:hover {
  text-decoration: underline;
}
